body{
	background-color:#A9E1A3;
	font-family: Georgia;
}

h1{
	color:#2E4B2F;
	text-align: center;
}

h3{
	color:#2D532E;
	text-align: center;
	font-size: 20px;
}

.words{color: #F1FAF1;
font-size: 20px;
text-align:center;
}

.disappear{
	text-align:center;
	visibility:hidden;
}
